CONFIG_IDF_TARGET="esp32p4"

# Flash partition
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# BT
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_TRANSPORT_UART=n

# Increase main task stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096

# Suppress deprecated warning for RMT
CONFIG_RMT_SUPPRESS_DEPRECATE_WARN=y

# LwIP
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6
CONFIG_LWIP_HOOK_IP6_ROUTE_DEFAULT=y
CONFIG_LWIP_HOOK_ND6_GET_GW_DEFAULT=y

# mbedTLS
CONFIG_MBEDTLS_HKDF_C=y

# Use nano format lib
CONFIG_NEWLIB_NANO_FORMAT=y

# Enable shell
CONFIG_ENABLE_CHIP_SHELL=y

# Enable OTA Requestor
CONFIG_ENABLE_OTA_REQUESTOR=y

# All-clusters app product / vendor / version info
CONFIG_DEVICE_PRODUCT_ID=0x8001
CONFIG_DEVICE_VENDOR_ID=0xFFF1
CONFIG_DEVICE_HW_VERSION=1
CONFIG_DEVICE_HW_VERSION_STRING="v1.0"
CONFIG_DEVICE_FIRMWARE_REVISION="0.0.1"

# Ethernet configuration
CONFIG_ETH_MDC_GPIO=31
CONFIG_ETH_MDIO_GPIO=52
CONFIG_ETH_PHY_RST_GPIO=51

# Do not use Wi-Fi and BLE for Matter
CONFIG_ENABLE_CHIPOBLE=n
CONFIG_ENABLE_WIFI_STATION=n
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_ENABLE_WIFI_TELEMETRY=n
CONFIG_ENABLE_ETHERNET_TELEMETRY=y

# ESP-Hosted
CONFIG_ESP_HOSTED_ENABLE_BT_NIMBLE=y
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
