parameters:
    builder:
        type: string
environment:
    BUILD_TYPE: "<< parameters.builder >>"
executor: << parameters.builder >>
steps:
    - load-built-tree:
          builder: << parameters.builder >>
    - load-build-environment:
          builder: << parameters.builder >>
    - load-persistent-ci-cache:
          builder: << parameters.builder >>
    - setup-environment:
          builder: << parameters.builder >>
    - run:
          name: Build example Standalone Echo Client
          command: scripts/examples/standalone_echo_client.sh
    - run:
          name: Build example Standalone Shell
          command: scripts/examples/standalone_shell.sh
    - run:
          name: Preserve artifacts
          command: |
              mkdir -p example_binaries/<<parameters.builder>>
              cp examples/chip-tool/build/chip-standalone-demo.out \
                 example_binaries/<<parameters.builder>>/chip-standalone-demo.out
    - store_artifacts:
          path: example_binaries/<<parameters.builder>>
