/**
 *  To enable these credentias, compile the app with option "chip_build_device_attestation_credentials=true".
 */

#define SILABS_CREDENTIALS_DAC_KEY_ID    {{key_id}}

#define SILABS_CREDENTIALS_DAC_OFFSET    {{dac_offset}}
#define SILABS_CREDENTIALS_DAC_SIZE      {{dac_size}}

#define SILABS_CREDENTIALS_PAI_OFFSET    {{pai_offset}}
#define SILABS_CREDENTIALS_PAI_SIZE      {{pai_size}}

#define SILABS_CREDENTIALS_CD_OFFSET     {{cd_offset}}
#define SILABS_CREDENTIALS_CD_SIZE       {{cd_size}}
