/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
	};

	keys {
		/delete-node/ button_1;
		/delete-node/ button_2;
		/delete-node/ button_3;
		/delete-node/ button_4;

		key_1: button_1 {
			gpios = <&gpiob 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		key_2: button_2 {
			gpios = <&gpioc 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		key_3: button_3 {
			gpios = <&gpioc 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
		key_4: button_4 {
			gpios = <&gpiob 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
		};
	};

	pwm_leds {
		/delete-node/ pwm_led_0;
		/delete-node/ pwm_led_1;
		/delete-node/ pwm_led_2;
		/delete-node/ pwm_led_3;

		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM LED Blue";
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 5 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM LED Green";
		};
		pwm_led2: pwm_led_2 {
			pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM LED Red";
		};
		pwm_led3: pwm_led_3 {
			pwms = <&pwm0 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM IDENTIFY LED White";
	    };
    };

    aliases {
		system-state-led = &led_yellow;
	};

	leds {
		led_yellow: led_yellow {
			gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
			label = "LED Yellow";
		};
	};
};

&pinctrl {
	pwm_ch2_pb7_default: pwm_ch2_pb7_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_B, B9x_PIN_7, B91_FUNC_A)>;
	};
	pwm_ch5_pb0_default: pwm_ch5_pb0_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_B, B9x_PIN_0, B91_FUNC_C)>;
	};
	pwm_ch0_pb4_default: pwm_ch0_pb4_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_B, B9x_PIN_4, B91_FUNC_B)>;
	};
	pwm_ch3_pb1_default: pwm_ch3_pb1_default {
		pinmux = <B9x_PINMUX_SET(B9x_PORT_B, B9x_PIN_1, B91_FUNC_C)>;
	};
};

&pwm0 {
	pinctrl-0 = <&pwm_ch2_pb7_default &pwm_ch5_pb0_default &pwm_ch0_pb4_default &pwm_ch3_pb1_default>;
};


&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&uart0 {
	pinctrl-0 = <&uart0_tx_pa3_default &uart0_rx_pa4_default>;
};

&gpiob {
	interrupts = <37 1>;
};

&gpioc {
	interrupts = <38 1>;
};
