#
# SPDX-FileCopyrightText: 2023 Project CHIP Authors
#
# SPDX-License-Identifier: Apache-2.0
#

# This file should be used as a configuration overlay to enable Shell.

# Enable Shell support. 
CONFIG_SHELL=y
CONFIG_CHIP_LIB_SHELL=y
