/**
 *  To enable these credentias, compile the app with option "chip_build_device_attestation_credentials=true".
 */

#define EFR32_CREDENTIALS_DAC_KEY_ID PSA_KEY_ID_USER_MIN + 1

#define EFR32_CREDENTIALS_PAI_OFFSET    {{pai_offset}}
#define EFR32_CREDENTIALS_PAI_SIZE      {{pai_size}}

#define EFR32_CREDENTIALS_DAC_OFFSET    {{dac_offset}}
#define EFR32_CREDENTIALS_DAC_SIZE      {{dac_size}}

#define EFR32_CREDENTIALS_CD_OFFSET     {{cd_offset}}
#define EFR32_CREDENTIALS_CD_SIZE       {{cd_size}}
