---
Checks: >
  readability-else-after-return,
  modernize-use-nullptr,
  bugprone-*,
  -bugprone-not-null-terminated-result,
  -bugprone-unused-return-value,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  -bugprone-macro-parentheses,
  -bugprone-forward-declaration-namespace,
  -bugprone-forwarding-reference-overload,
  -bugprone-undelegated-constructor,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-narrowing-conversions,
  -bugprone-misplaced-widening-cast,
  -bugprone-suspicious-include,
  -bugprone-signed-char-misuse,
  -bugprone-copy-constructor-init,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -clang-analyzer-optin.performance,
  -clang-analyzer-optin.osx.cocoa.localizability.EmptyLocalizationContextChecker,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-cplusplus.Move,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-nullability.NullablePassedToNonnull,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-unix.Malloc,
  -clang-diagnostic-implicit-int-conversion
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|examples|zzz_generated|credentials).*(?<!third_party.*repo)'
