---
Checks: >
  bugprone-*,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  performance-for-range-copy,
  readability-const-return-type,
  readability-else-after-return,
  readability-redundant-control-flow,
  readability-redundant-string-cstr,
  readability-redundant-string-init,
  -bugprone-assignment-in-if-condition,
  -bugprone-branch-clone,
  -bugprone-casting-through-void, #TODO remove this after fixing issues in source code, issue 34008
  -bugprone-copy-constructor-init,
  -bugprone-easily-swappable-parameters,
  -bugprone-forward-declaration-namespace,
  -bugprone-forwarding-reference-overload,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-inc-dec-in-conditions,
  -bugprone-macro-parentheses,
  -bugprone-misplaced-widening-cast,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-narrowing-conversions,
  -bugprone-not-null-terminated-result,
  -bugprone-pointer-arithmetic-on-polymorphic-object,
  -bugprone-reserved-identifier,
  -bugprone-signed-char-misuse,
  -bugprone-suspicious-include,
  -bugprone-switch-missing-default-case,
  -bugprone-undelegated-constructor,
  -bugprone-unused-return-value,
  -clang-analyzer-core.CallAndMessage,
  -clang-analyzer-core.NonNullParamChecker,
  -clang-analyzer-core.NullDereference,
  -clang-analyzer-cplusplus.Move,
  -clang-analyzer-deadcode.DeadStores,
  -clang-analyzer-nullability.NullablePassedToNonnull,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-optin.cplusplus.UninitializedObject,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  -clang-analyzer-optin.osx.cocoa.localizability.EmptyLocalizationContextChecker,
  -clang-analyzer-optin.performance,
  -clang-analyzer-optin.performance.Padding,
  -clang-analyzer-security.insecureAPI.rand,
  -clang-analyzer-security.insecureAPI.strcpy,
  -clang-analyzer-unix.Malloc,
  -clang-diagnostic-implicit-int-conversion,
  -clang-diagnostic-missing-template-arg-list-after-template-kw
WarningsAsErrors: '*'
HeaderFilterRegex: '(src|examples|zzz_generated|credentials).*(?<!third_party.*repo)'
