[flake8]
max-line-length = 132
exclude = third_party
          .*
          out/*
          scripts/idl/*
          ./examples/common/QRCode/*
          # temporarily scan only directories with fixed files
          # TODO: Remove the paths below when all bugs are fixed
          src/tools/chip-cert/*
          src/test_driver/openiotsdk/*
          src/test_driver/mbed/*
          src/test_driver/linux-cirque/*
          src/test_driver/esp32/*
          src/test_driver/efr32/*
          build/chip/java/tests/*
          build/chip/linux/*
          build/config/linux/*
          credentials/fetch-paa-certs-from-dcl.py
          docs/_extensions/external_content.py
          examples/chef/chef.py
          examples/chef/sample_app_util/zap_file_parser.py
          examples/common/pigweed/rpc_console/py/chip_rpc/console.py
          examples/lighting-app/python/lighting.py
          examples/platform/mbed/ota/generate_ota_list_image.py
          scripts/build/build/target.py
          scripts/build/build/targets.py
          scripts/build/builders/android.py
          scripts/build/builders/bouffalolab.py
          scripts/build/builders/cc13x2x7_26x2x7.py
          scripts/build/builders/efr32.py
          scripts/build/builders/esp32.py
          scripts/build/builders/genio.py
          scripts/build/builders/gn.py
          scripts/build/builders/imx.py
          scripts/build/builders/infineon.py
          scripts/build/builders/nrf.py
          scripts/build/test.py
          scripts/codegen.py
          scripts/codepregen.py
          scripts/error_table.py
          scripts/examples/gn_to_cmakelists.py
          scripts/examples/tests/test.py
          scripts/flashing/bouffalolab_firmware_utils.py
          scripts/flashing/cyw30739_firmware_utils.py
          scripts/flashing/nrfconnect_firmware_utils.py
          scripts/gen_chip_version.py
          scripts/gen_test_driver.py
          scripts/helpers/bloat_check.py
          scripts/pregenerate/using_codegen.py
          scripts/pregenerate/using_zap.py
          scripts/py_matter_yamltests/matter_yamltests/constraints.py
          scripts/py_matter_yamltests/matter_yamltests/definitions.py
          scripts/py_matter_yamltests/matter_yamltests/fixes.py
          scripts/py_matter_yamltests/matter_yamltests/parser.py
          scripts/py_matter_yamltests/matter_yamltests/pics_checker.py
          scripts/py_matter_yamltests/matter_yamltests/pseudo_clusters/pseudo_clusters.py
          scripts/py_matter_yamltests/matter_yamltests/yaml_loader.py
          scripts/py_matter_yamltests/test_pics_checker.py
          scripts/py_matter_yamltests/test_spec_definitions.py
          scripts/py_matter_yamltests/test_yaml_loader.py
          scripts/py_matter_yamltests/test_yaml_parser.py
          scripts/run-clang-tidy-on-compile-commands.py
          scripts/setup/nrfconnect/update_ncs.py
          scripts/tests/chiptest/__init__.py
          scripts/tests/chiptest/runner.py
          scripts/tests/chiptest/test_definition.py
          scripts/tests/chiptest/yamltest_with_chip_repl_tester.py
          scripts/tests/java/base.py
          scripts/tests/java/commissioning_test.py
          scripts/tests/java/discover_test.py
          scripts/tests/run_java_test.py
          scripts/tests/run_python_test.py
          scripts/tests/run_test_suite.py
          scripts/tools/check_zcl_file_sync.py
          scripts/tools/convert_ini.py
          scripts/tools/generate_esp32_chip_factory_bin.py
          scripts/tools/memory/memdf/__init__.py
          scripts/tools/memory/report_summary.py
          scripts/tools/nrfconnect/generate_nrfconnect_chip_factory_data.py
          scripts/tools/nrfconnect/nrfconnect_generate_partition.py
          scripts/tools/nrfconnect/tests/test_generate_factory_data.py
          scripts/tools/silabs/FactoryDataProvider.py
          scripts/tools/telink/mfg_tool.py
          scripts/tools/zap/generate.py
          scripts/tools/zap/prune_outputs.py
          scripts/tools/zap/test_generate.py
          scripts/tools/zap/version_update.py
          scripts/tools/zap/zap_download.py
          scripts/tools/zap_convert_all.py
          src/app/ota_image_tool.py
          src/app/tests/suites/certification/information.py
          src/app/zap_cluster_list.py
          src/controller/python/build-chip-wheel.py
          src/controller/python/chip-device-ctrl.py
          src/controller/python/chip/CertificateAuthority.py
          src/controller/python/chip/ChipBleUtility.py
          src/controller/python/chip/ChipBluezMgr.py
          src/controller/python/chip/ChipCommissionableNodeCtrl.py
          src/controller/python/chip/ChipCoreBluetoothMgr.py
          src/controller/python/chip/ChipDeviceCtrl.py
          src/controller/python/chip/ChipReplStartup.py
          src/controller/python/chip/ChipStack.py
          src/controller/python/chip/ChipUtility.py
          src/controller/python/chip/FabricAdmin.py
          src/controller/python/chip/ble/scan_devices.py
          src/controller/python/chip/clusters/Attribute.py
          src/controller/python/chip/clusters/ClusterObjects.py
          src/controller/python/chip/clusters/Command.py
          src/controller/python/chip/clusters/__init__.py
          src/controller/python/chip/discovery/__init__.py
          src/controller/python/chip/interaction_model/__init__.py
          src/controller/python/chip/interaction_model/delegate.py
          src/controller/python/chip/internal/commissioner.py
          src/controller/python/chip/setup_payload/setup_payload.py
          src/controller/python/chip/storage/__init__.py
          src/controller/python/chip/tlv/__init__.py
          src/controller/python/chip/utils/CommissioningBuildingBlocks.py
          src/controller/python/chip/yaml/__init__.py
          src/controller/python/chip/yaml/format_converter.py
          src/controller/python/chip/yaml/runner.py
          src/controller/python/test/test_scripts/base.py
          src/controller/python/test/test_scripts/cluster_objects.py
          src/controller/python/test/test_scripts/mobile-device-test.py
          src/controller/python/test/test_scripts/network_commissioning.py
          src/controller/python/test/unit_tests/test_cluster_objects.py
          src/controller/python/test/unit_tests/test_tlv.py
          src/lib/asn1/gen_asn1oid.py
          src/pybindings/pycontroller/build-chip-wheel.py
          src/pybindings/pycontroller/pychip/__init__.py
          src/python_testing/TC_ACE_1_3.py
          src/python_testing/TC_ACE_1_4.py
          src/python_testing/TC_CGEN_2_4.py
          src/python_testing/TC_DA_1_7.py
          src/python_testing/TC_RR_1_1.py
          src/python_testing/TC_SC_3_6.py
          src/python_testing/TC_TestEventTrigger.py
          src/python_testing/hello_test.py
          src/python_testing/matter_testing_support.py
          src/setup_payload/python/generate_setup_payload.py
          src/setup_payload/tests/run_python_setup_payload_gen_test.py
