[submodule "nlassert"]
	path = third_party/nlassert/repo
	url = https://github.com/nestlabs/nlassert.git
	branch = master
	ignore = dirty
	commit = bd2f082102d4456ca750189ee853fa8c7443af59
[submodule "nlfaultinjection"]
	path = third_party/nlfaultinjection/repo
	url = https://github.com/nestlabs/nlfaultinjection.git
	branch = master
	ignore = dirty
	commit = 79f92f309de58c4591f53a9b492600550b473c84
[submodule "nlio"]
	path = third_party/nlio/repo
	url = https://github.com/nestlabs/nlio.git
	branch = master
	ignore = dirty
	commit = 5bc9ff07974c503d283ea8edf5b301f65e167e74
[submodule "nlunit-test"]
	path = third_party/nlunit-test/repo
	url = https://github.com/nestlabs/nlunit-test.git
	branch = master
	ignore = dirty
	commit = ef5a2b9a8b71ad592fcf3681968fd63c844e3d81
[submodule "mbedtls"]
	path = third_party/mbedtls/repo
	url = https://github.com/ARMmbed/mbedtls.git
	branch = mbedtls-2.18
	ignore = dirty
	commit = ca933c7e0c9e84738b168b6b0feb89af4183a60a
[submodule "qrcode"]
	path = examples/common/QRCode/repo
	url = https://github.com/nayuki/QR-Code-generator.git
	branch = master
	ignore = dirty
	commit = 455e0b24272f164cfc1b2a1b47fe3903b821dc39
[submodule "m5stack-tft"]
	path = examples/common/m5stack-tft/repo
	url = https://github.com/jeremyjh/ESP32_TFT_library.git
	branch = master
	ignore = dirty
	commit = a1ece2c500cf179db8f0c7dbc7bb8f3ace562142
[submodule "pigweed"]
	path = third_party/pigweed/repo
	url = https://pigweed.googlesource.com/pigweed/pigweed
	branch = master
	ignore = dirty
	commit = bb2bc72fcb4936e9a7ca016870d784aa7937d43c
[submodule "openthread"]
	path = third_party/openthread/repo
	url = https://github.com/openthread/openthread.git
	branch = master
	ignore = dirty
	commit = c9004a6f3f129778fcab7dfcf9060f0f168c06b8
[submodule "ot-br-posix"]
	path = third_party/ot-br-posix/repo
	url = https://github.com/openthread/ot-br-posix.git
	branch = master
	ignore = dirty
	commit = d1671cfa4777d3a1bb565b88856f1ef446fe760f
[submodule "bluez"]
	path = third_party/bluez/repo
	url = git://git.kernel.org/pub/scm/bluetooth/bluez.git
	branch = master
	ignore = dirty
	commit = b8c156ffa3ab524813cdf4e0fd9afce59ff675bf
[submodule "ot-commissioner"]
	path = third_party/ot-commissioner/repo
	url = https://github.com/openthread/ot-commissioner
	branch = master
	ignore = dirty
	commit = 99372e440c65cc41cd04a809cb6de2c24d54a99e
[submodule "cirque"]
	path = third_party/cirque/repo
	url = https://github.com/openweave/cirque.git
	branch = master
	ignore = dirty
	commit = bc42efe2e0e8f4e0eed7bd08a51e046943a11b98
[submodule "happy"]
	path = third_party/happy/repo
	url = https://github.com/openweave/happy.git
	branch = master
	ignore = dirty
	commit = 72102da049234815ba2c0184a7a13f1cb5ab4263
[submodule "nanopb"]
	path = third_party/nanopb/repo
	url = https://github.com/nanopb/nanopb.git
	branch = master
	ignore = dirty
	commit = 7e4472420897c96b41a4928b4a1b2271d8af23e8
[submodule "qpg_sdk"]
	path = third_party/qpg_sdk/repo
	url = https://github.com/Qorvo/qpg-connectedhomeip
	branch = master
	ignore = dirty
	commit = e1214fffae4a0d22e331326b19458061a97a9bb2
