
# VS Code Configs
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

# Build System
.deps
.dirstamp
.DS_Store
.local-version
.DS_Store
Makefile.in
aclocal.m4
autom4te.cache
output/
build/*
!build/README.md
!build/autoconf/m4/chip_check_project_config_includes.m4
!build/autoconf/m4/nl_with_lwip.m4
!build/config/standalone/CHIPProjectConfig.h
!build/config/standalone/SystemProjectConfig.h
!build/config/standalone/darwin/CHIPProjectConfig.h
!build/config/standalone/no-openssl/CHIPProjectConfig.h
!build/efr32/
!build/nrf5/
!build/scripts/gen-chip-version
config.log
config.status
configure
src/include/BuildConfig.h
src/include/BuildConfig.h.in

# Repos stuff
.repos-warning-stamp
third_party/nlassert/
third_party/nlfaultinjection/
third_party/nlio/
third_party/nlunit-test/