
# VS Code Configs
.vscode/*
!.vscode/tasks.json

# Build System
.deps
.dirstamp
.local-version
Makefile.in
aclocal.m4
autom4te.cache
output/
build/*
!build/autoconf/m4/nl_with_lwip.m4
!build/config/standalone/CHIPProjectConfig.h
!build/config/standalone/SystemProjectConfig.h
!build/config/standalone/darwin/CHIPProjectConfig.h
!build/config/standalone/no-openssl/CHIPProjectConfig.h
config.log
config.status
configure
src/include/BuildConfig.h
src/include/BuildConfig.h.in
libtool
src/include/stamp-h1
Makefile


# Repos stuff
.repos-warning-stamp
third_party/nlassert/
third_party/nlfaultinjection/
third_party/nlio/
third_party/nlunit-test/
