language: minimal

branches:
    except:
        - /^restyled.*$/

services:
    - docker

script:
    - ./integrations/ci-tools/build.sh

# Note: To add new job types, add it to the matrix below, with a unique TASK varable, then update the build.sh to do what you want during that task

jobs:
    include:
        - stage: Build
          name: "Build Ubuntu Linux Xenial LTS"
          env: TASK="build-ubuntu-linux"
        - stage: Build
          name: "Build NRF Example Lock App"
          env: TASK="build-nrf-example-lock-app"
        - stage: Tests
          name: "Unit & Functional Tests"
          env: TASK="run-unit-and-functional-tests"
        - stage: Tests
          name: "Crypto Tests"
          env: TASK="run-crypto-tests"
        - stage: Tests
          name: "Setup Payload Tests"
          env: TASK="run-setup-payload-tests"
        # - stage: Tests
        #   name: "mbedTLS Crypto Tests"
        #   env: TASK="run-mbedtls-crypto-tests"
        - stage: Deployment Checks
          name: "Run Code Coverage"
          env: ENV=CODECOV_TOKEN TASK="run-code-coverage"
        - stage: Deployment Checks
          name: "Distribution Check"
          env: TASK="build-distribution-check"
