[tool.autopep8]
max_line_length = 132

[tool.isort]
line_length = 132
known_first_party = "matter"

[tool.ruff]
line-length = 132
target-version = "py310"
exclude = [
    ".environment",
    ".git",
    ".github",
    ".*",
    "build",
    "out",
    "third_party",
    "examples/common/QRCode/",
]

[tool.ruff.lint]
select = ["E4", "E7", "E9", "F"]
ignore = [
    "E721", # We use it for good reasons
]
