[tool.autopep8]
max_line_length = 132

[tool.isort]
line_length = 132
known_first_party = "matter"

[tool.ruff]
line-length = 132
target-version = "py310"
exclude = [
    ".environment",
    ".git",
    ".github",
    ".*",
    "build",
    "out",
    "third_party",
    "examples/common/QRCode/",
    # TODO(#37698)
    "docs/development_controllers/matter-repl/*.ipynb",
]

[tool.ruff.lint]
select = [
    # Standard errors and warnings
    "E", "W", "F",
    # Consistent commas
    "COM",
    # Ensure that scripts are executable
    "EXE",
    # Check for common optimization issues
    "SLOT",
]
ignore = [
    "COM812", # Do not enforce trailing commas in multi-line collections
    "E501", # Do not report line length issues (formatter should handle this)
    "E721", # We use it for good reasons
]
