exclude = [
    ".environment",
    ".git",
    ".github",
    ".*",
    "build",
    "out",
    "third_party",
    "examples/common/QRCode/",
]
target-version = "py37"

line-length = 132

[lint]
select = ["E4", "E7", "E9", "F"]
ignore = [
    "E721" # We use is for good reasons
]
