exclude = [
    ".environment",
    ".git",
    ".github",
    ".*",
    "build",
    "out",
    "third_party",
    "examples/common/QRCode/",
    # TODO(#37698)
    "docs/development_controllers/chip-repl/*.ipynb",
]
target-version = "py310"

line-length = 132

[lint]
select = ["E4", "E7", "E9", "F"]
ignore = [
    "E721" # We use it for good reasons
]
