body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif
}

.wy-nav-content {
    max-width: none;
}

.wy-nav-content-wrap {
    background: none;
}

.wy-side-nav-search {
    background: #0086D9;
    padding: 0;
    height: 174px;
}

.wy-side-nav-search input[type=text] {
    border-radius: 0;
}

.wy-side-nav-search>a {
    color: transparent;
    height: 110px;
}

.wy-side-nav-search .wy-dropdown>a.icon img.logo,
.wy-side-nav-search>a.icon img.logo {
    margin-top: -0.15em;
    margin-bottom: 15px;
}

.wy-side-nav-search>a:hover {
    background: none;
}

.icon-home::after {
    content: "Matter";
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 300;
}

.wy-nav-side {
    background: #363636;
}

#rtd-search-form input {
    border: none;
    padding: 7px 12px;
}

.wy-menu-vertical a {
    color: #c8c8c8;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.wy-menu-vertical li a {
    line-height: 24px;
    font-weight: 300 !important;
    color: #a9a9a9 !important;
    border: none !important;
}

.wy-menu-vertical a:hover {
    /* background-color: #414141; */
    text-decoration: underline;
}

.wy-menu-vertical li>a.current {
    border-left: 4px solid #D91E2A !important;
}

.wy-menu-vertical li.toctree-l1>a:hover,
.wy-menu-vertical li.toctree-l1.current>a,
.wy-menu-vertical li.toctree-l2>a {
    background-color: #414141;
}

.wy-menu-vertical li.toctree-l2>a:hover,
.wy-menu-vertical li.toctree-l2.current>a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
    background-color: #4b4b4b;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a:hover,
.wy-menu-vertical li.toctree-l3.current>a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background-color: #555;
}

.wy-menu-vertical li.toctree-l2.current li.toctree-l3.current li.toctree-l4>a:hover,
.wy-menu-vertical li.toctree-l4.current>a,
.wy-menu-vertical li.toctree-l4.current li.toctree-l5>a {
    background-color: #5f5f5f;
}

.wy-menu-vertical li button.toctree-expand {
    float: right;
}

.wy-menu-vertical li button.toctree-expand:before,
.wy-menu-vertical li button.toctree-expand:before {
    content: url('droparrow.svg');
    transform: rotate(-90deg);
    transition: 100ms;
    line-height: 25px;
    width: 15px;
}

.wy-menu-vertical li.current>a button.toctree:before,
.wy-menu-vertical li.on a button.toctree:before,
.wy-menu-vertical li.current>a button.toctree-expand:before,
.wy-menu-vertical li.on a button.toctree-expand:before {
    content: url('droparrow.svg');
    transform: rotate(0deg);
}

.github-button {
    bottom: 10px;
    margin-left: 75px;
    position: fixed;
}

.wy-side-scroll {
    height: calc(100% - 20px);
}

/* override table no-wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}


footer {
    text-align: center;
}

footer hr {
    margin: 20px 0;
}

h1 {
    margin: 0.67em 0;
    font-weight: 300;
    font-size: 42px;
}

h2 {
    margin: 48px 0 32px 0;
    font-weight: 600;
    font-size: 26px;
}

h3 {
    font-weight: 700;
    font-size: 17px;
}

.wy-menu-vertical li a {
    padding-right: 2px !important;
}

.wy-menu-vertical li.current>a {
    padding-right: 10px !important;
}

.error-message {
    color: red;
    line-height: 40px;
    text-align: center;
}

.dsk-value {
    line-height: 40px;
    margin-right: 20px;
}

#qr-reader {
    width: 50%;
    margin: auto;
}

.dsk-container {
    visibility: hidden;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    line-height: 40px;
}

.dsk-container>div {
    text-align: center;
}

video {
    width: inherit !important;
}

.flip video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}