appdirs==1.4.4
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
chip==0.0
colorama==0.4.4
coloredlogs==15.0
construct==2.10.67
dbus-python==1.2.16
decorator==5.0.9
fasteners==0.16
future==0.18.2
humanfriendly==9.1
idna==2.10
iniconfig==1.1.1
intelhex==2.3.0
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
junit-xml==1.9
lockfile==0.12.2
matplotlib-inline==0.1.2
mbed-flasher==0.10.1
mbed-ls==1.8.6
mbed-os-tools==1.8.6
packaging==20.9
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prettytable==1.0.1
prompt-toolkit==3.0.18
ptyprocess==0.7.0
py==1.10.0
pycairo==1.20.0
Pygments==2.9.0
PyGObject==3.40.1
pyparsing==2.4.7
pyserial==3.5
pytest==6.2.4
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5