CONFIG_IDF_TARGET="esp32c6"

#Singnling Specific config

# Slave
CONFIG_SLAVE_LWIP_ENABLED=y
CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_START=61440
CONFIG_LWIP_TCP_LOCAL_PORT_RANGE_END=65535
CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_START=61440
CONFIG_LWIP_UDP_LOCAL_PORT_RANGE_END=65535
CONFIG_ESP_DEFAULT_LWIP_SLAVE=y

CONFIG_FREERTOS_USE_TRACE_FACILITY=y
CONFIG_FREERTOS_USE_STATS_FORMATTING_FUNCTIONS=y
# CONFIG_FREERTOS_USE_LIST_DATA_INTEGRITY_CHECK_BYTES is not set
CONFIG_FREERTOS_VTASKLIST_INCLUDE_COREID=y
CONFIG_FREERTOS_GENERATE_RUN_TIME_STATS=y

# 4K is sufficient for signalling_only
CONFIG_MAIN_TASK_STACK_SIZE=4000

# OS
CONFIG_FREERTOS_HZ=1000

CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
CONFIG_ESP_WIFI_EXTRA_IRAM_OPT=n
CONFIG_LWIP_TCPIP_RECVMBOX_SIZE=24
CONFIG_LWIP_TCP_OVERSIZE_QUARTER_MSS=y
CONFIG_LWIP_TCP_ACCEPTMBOX_SIZE=4

CONFIG_ESP_WEBRTC_BRIDGE_HOSTED=y

# DANGER: Do not touch me!!!
# CONFIG_HOSTED_ON_LOW_MEM=y
CONFIG_ESP_CACHE_MALLOC=y
CONFIG_ESP_PKT_STATS=y
