CHIP_ROOT = $(PROJECT_DIR)/../../..

// Within the project itself we can ignore availablity and access all APIs
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) MTR_NO_AVAILABILITY=1 MTR_ENABLE_PROVISIONAL=1 MTR_ENABLE_UNSTABLE_API=1

// Target / destination settings
IPHONEOS_DEPLOYMENT_TARGET = 14.0
MACOSX_DEPLOYMENT_TARGET = 11.0
ONLY_ACTIVE_ARCH = YES
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator watchos watchsimulator
TARGETED_DEVICE_FAMILY = 1,2,3,4
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 1

// Compiler / language settings
ALWAYS_SEARCH_USER_PATHS = NO
GCC_C_LANGUAGE_STANDARD = gnu11
CLANG_CXX_LANGUAGE_STANDARD = gnu++17
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES
SWIFT_VERSION = 5.0

// Warnings / errors
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_ANALYZER_NONNULL = YES_AGGRESSIVE
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
WARNING_CFLAGS = -Wformat -Wformat-nonliteral -Wformat-security

// Linking / TAPI
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DWARF_DSYM_FILE_SHOULD_ACCOMPANY_PRODUCT = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
OTHER_TAPI_FLAGS = -x objective-c++ -std=gnu++17 -fvisibility=hidden -fobjc-arc
SUPPORTS_TEXT_BASED_API = YES
TAPI_VERIFY_MODE = Pedantic
VERSIONING_SYSTEM = apple-generic

// Include override file last, if it exists
#include? "Project.override.xcconfig"
