# One buffer allocated within the central tracing binary for the entire trace,
# shared by the two data sources below.
buffers {
  size_kb: 20480
  fill_policy: RING_BUFFER
}

# grab track events
data_sources {
  config {
    name: "track_event"
  }
}

# 5min trace, but can be stopped prematurely.
duration_ms: 300000

write_into_file: true