#
#   Copyright (c) 2024 Project CHIP Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

# The purpose of this file is to define new default values of settings used when building Matter samples.
# This file only changes defaults and thus all symbols here must be promptless
# and safeguarded so that they only are applied when building Matter.

if CHIP

config CHIP_OPERATIONAL_TIME_SAVE_INTERVAL
	default 1

if CHIP_FACTORY_DATA

config CHIP_DEVICE_VENDOR_ID
	default 4151 # 0x1037

config CHIP_DEVICE_MANUFACTURING_DATE
	default "2023-01-01"

config CHIP_DEVICE_PRODUCT_ID
	default 41510 if CHIP_NXP_PLATFORM_RW61X
	default 41511 if CHIP_NXP_PLATFORM_RT1170

endif # CHIP_FACTORY_DATA

config MATTER_LOG_LEVEL
	default 3

config CHIP_APP_LOG_LEVEL
	default 3

config CHIP_LOG_SIZE_OPTIMIZATION
	default y

# Enable extended discovery
config CHIP_EXTENDED_DISCOVERY
	default y

# Include defaults for SDK Kconfig
rsource "../../../third_party/nxp/nxp_matter_support/cmake/Kconfig.defconfig"

endif # CHIP
