#include "TLVMetaData.h"

namespace chip {
namespace TLVData {
namespace {

using namespace chip::FlatTree;
using namespace chip::TLV;

{%- for table in sub_tables %}

Entry<ItemInfo> _{{table.full_name}}[] = {
  {%-  for entry in table.entries %}
  { { {{entry.code}}, "{{entry.name}}"}, {{entry.reference | indexInTable(sub_tables)}} }, // {{entry.real_type}}
  {%- endfor %}
};
{%- endfor %}

Entry<ItemInfo> _all_clusters[] = {
{%- for cluster in clusters | sort(attribute='code') %}
  { { ClusterTag({{"0x%02X" | format(cluster.code)}}), "{{cluster.name}}" }, {{cluster.name | indexInTable(sub_tables)}} },
{%- endfor %}
};

} // namespace

#define _ENTRY(n) { sizeof(n) / sizeof(n[0]), n}

std::array<Node<ItemInfo>, {{ clusters | length }}> {{table_name}} = { {
  _ENTRY(_all_clusters),
{%- for table in sub_tables %}
  _ENTRY(_{{table.full_name}}), // {{loop.index}}
{%- endfor %}
} };

} // namespace chip
} // namespace TLVData

// TODO: implement
