#include "TLVMetaData.h"

namespace chip {
namespace TLVData {
namespace {

using namespace chip::FlatTree;
using namespace chip::TLV;

{%- for cluster in clusters | sort(attribute='name') %}

// TODO: reference structures and everything else
// Figure out IDs 
{% endfor -%}

Entry<ItemInfo> all_clusters[] = {
{%- for cluster in clusters | sort(attribute='code') %}
  { ContextTag({{"0x%02X" | format(cluster.code)}}), "{{cluster.name}}" },
{%- endfor %}
};

} // namespace

#define _ENTRY(n) { sizeof(n) / sizeof(n[0]), n}

std::array<Node<ItemInfo>, {{ clusters | length }}> cluster_meta = { {
  _ENTRY(all_clusters),
  // TODO: add the rest
} };

} // namespace chip
} // namespace TLVData

// TODO: implement
