#
#   Copyright (c) 2020 Project CHIP Authors
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
#

mainmenu "CHIP application"

source "Kconfig.zephyr"

config CHIP
	bool "Enable CHIP"
	default n
	select CPLUSPLUS
	imply LIB_CPLUSPLUS
	imply REBOOT
	select ENTROPY_GENERATOR
	imply NET_UDP
	imply NET_IPV6
	imply NET_CONFIG_NEED_IPV6
	imply NET_SOCKETS
	imply MULTIPROTOCOL
	help
	  Use the CHIP protocol.

config CHIP_LIB_SHELL
	bool "Enable CHIP's shell library"
	help
	  Link the application with the library containing CHIP shell commands

config MULTIPROTOCOL
	bool "Enable multiprotocol support"
	select NRF_802154_MULTIPROTOCOL_SUPPORT
	depends on BT && NET_L2_OPENTHREAD
	help
	  Enable multiprotocol in the nRF 802.15.4 radio driver
