#
# SPDX-FileCopyrightText: 2020 Project CHIP Authors
#
# SPDX-License-Identifier: Apache-2.0
#
#    Description:
#      Configuration options CHIP ESP32 demo application.
#

menu "Crypto Tests"

    choice
        prompt "Device Type"
        default DEVICE_TYPE_ESP32_DEVKITC
        help
            Specifies the type of ESP32 device.

            Note that the "ESP32-DevKitC" choice is compatible with a number of clone devices
            available from third-party manufacturers.

        config DEVICE_TYPE_ESP32_DEVKITC
            bool "ESP32-DevKitC"
        config DEVICE_TYPE_M5STACK
            bool "M5Stack"
    endchoice

    config CHIP_PROJECT_CONFIG
        string "CHIP Project Configuration file"
        default "main/include/CHIPProjectConfig.h"
endmenu
