jsonschema>=4.4.0
cbor2>=5.4.3
ecdsa>=0.18.0
qrcode==7.4.2
bitarray==2.6.0
python_stdnum==1.18
pycryptodome==3.9.8
bflb-crypto-plus==1.0
pycklink>=0.1.1
pyserial==3.5
pylink-square==0.5.0
portalocker==2.0.0
bflb-iot-tool>=1.8.6