# Python requirements for scripts in this location
alive_progress
click
colorama
coloredlogs
diskcache
mypy==1.16.0
types-PyYAML
tabulate

-e ${PW_PROJECT_ROOT}/scripts/py_matter_idl
-e ${PW_PROJECT_ROOT}/scripts/py_matter_yamltests
