*.iml
.gradle
/local.properties
/.idea/caches
/.idea/codeStyles
/.idea/gradle.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Shared libs & JAR libs (those libs are copied into source tree for easy Android build).
*.so
*.map
*.jar