DarwinForceWritable:
    # Work-around for not allowing changes from writable to read-only
    # happened in https://github.com/project-chip/connectedhomeip/pull/30134
    - ApplicationLauncher::CurrentApp
    - ContentLauncher::SupportedStreamingProtocols
    - FanControl::FanModeSequence

WeakEnums:
    # Allow-list of enums that we generate as enums, not enum classes.
    # The goal is to drive this down to 0.
    - BarrierControlBarrierPosition
    - BarrierControlMovingState
    - ColorControlOptions
    - ColorMode
    - EnhancedColorMode
    - PHYRateEnum

EnumsNotUsedAsTypeInXML:
    # List of enums that are not used as a type in XML. By adding an enum
    # to this list you prevent incorrectly assuming from code that you are
    # able to use kUnknownEnumValue safely. This happens for derived clusters
    # such as ModeBase where there are CommonTag, DerivedClusterTags, MfgTags.
    - "DishwasherMode::ModeTag"
    - "LaundryWasherMode::ModeTag"
    - "RefrigeratorAndTemperatureControlledCabinetMode::ModeTag"
    - "RvcRunMode::ModeTag"
    - "RvcRunMode::StatusCode"
    - "RvcCleanMode::ModeTag"
    - "RvcCleanMode::StatusCode"
    - "RvcOperationalState::OperationalStateEnum"
    - "RvcOperationalState::ErrorStateEnum"

CommandHandlerInterfaceOnlyClusters:
    # List of clusters that are implemented entirely with
    # CommandHandlerInterface and hence do not need generated command dispatch.
    # This uses asUpperCamelCase versions of the cluster name.
    - Network Commissioning
    - Scenes
    - RVC Run Mode
    - RVC Clean Mode
    - Dishwasher Mode
    - Laundry Washer Mode
    - Refrigerator And Temperature Controlled Cabinet Mode
    - Operational State
    - Activated Carbon Filter Monitoring
    - HEPA Filter Monitoring
    - RVC Operational State
    - Sample MEI

# We need a more configurable way of deciding which clusters have which init functions....
# See https://github.com/project-chip/connectedhomeip/issues/4369
ClustersWithInitFunctions:
    - Color Control
    - Groups
    - Identify
    - Level Control
    - Localization Configuration
    - Occupancy Sensing
    - On/Off
    - Pump Configuration and Control
    - Time Format Localization
    - Thermostat
    - Mode Select
    - Sample MEI
    - Scenes

ClustersWithAttributeChangedFunctions:
    - Bridged Device Basic
    - Door Lock
    - Identify
    - Pump Configuration and Control
    - Window Covering
    - Fan Control

ClustersWithShutdownFunctions:
    - Barrier Control
    - On/Off
    - Door Lock
    - Level Control
    - Color Control
    - Sample MEI
    - Scenes

ClustersWithPreAttributeChangeFunctions:
    - Door Lock
    - Pump Configuration and Control
    - Thermostat User Interface Configuration
    - Time Format Localization
    - Localization Configuration
    - Mode Select
    - Fan Control
    - Thermostat
    - Laundry Washer Controls
