EnumsNotUsedAsTypeInXML:
    # List of enums that are not used as a type in XML. By adding an enum
    # to this list you prevent incorrectly assuming from code that you are
    # able to use kUnknownEnumValue safely. This happens for derived clusters
    # such as ModeBase where there are CommonTag, DerivedClusterTags, MfgTags.
    # keep-sorted start
    - "DeviceEnergyManagementMode::ModeTag"
    - "DishwasherMode::ModeTag"
    - "EnergyEvseMode::ModeTag"
    - "LaundryWasherMode::ModeTag"
    - "RefrigeratorAndTemperatureControlledCabinetMode::ModeTag"
    - "RvcCleanMode::ModeTag"
    - "RvcCleanMode::StatusCode"
    - "RvcOperationalState::ErrorStateEnum"
    - "RvcOperationalState::OperationalStateEnum"
    - "RvcRunMode::ModeTag"
    - "RvcRunMode::StatusCode"
    - "WaterHeaterMode::ModeTag"
    # keep-sorted end

CommandHandlerInterfaceOnlyClusters:
    # List of clusters that are implemented entirely with
    # CommandHandlerInterface and hence do not need generated command dispatch.
    # This uses asUpperCamelCase versions of the cluster name.
    # keep-sorted start
    - Access Control
    - Actions
    - Activated Carbon Filter Monitoring
    - Administrator Commissioning
    - Basic Information
    - Boolean State
    - Boolean State Configuration
    - Camera AV Settings User Level Management
    - Camera AV Stream Management
    - Chime
    - Closure Control
    - Closure Dimension
    - Commissioner Control
    - Commodity Price
    - Commodity Tariff
    - Descriptor
    - Device Energy Management
    - Device Energy Management Mode
    - Diagnostic Logs
    - Dishwasher Mode
    - Electrical Energy Measurement
    - Electrical Power Measurement
    - Energy EVSE
    - Energy EVSE Mode
    - Ethernet Network Diagnostics
    - Fixed Label
    - General Commissioning
    - General Diagnostics
    - Group Key Management
    - Groupcast
    - HEPA Filter Monitoring
    - ICD Management
    - Identify
    - Joint Fabric Administrator
    - Laundry Washer Mode
    - Microwave Oven Control
    - Network Commissioning
    - OTA Software Update Provider
    - Operational Credentials
    - Operational State
    - Oven Cavity Operational State
    - Oven Mode
    - Power Topology
    - Push AV Stream Transport
    - RVC Clean Mode
    - RVC Operational State
    - RVC Run Mode
    - Refrigerator And Temperature Controlled Cabinet Mode
    - Sample MEI
    - Scenes Management
    - Service Area
    - Software Diagnostics
    - Soil Measurement
    - TLS Certificate Management
    - TLS Client Management
    - Thread Border Router Management
    - Thread Network Directory
    - Time Synchronization
    - User Label
    - Water Heater Management
    - Water Heater Mode
    - WebRTC Transport Provider
    - WebRTC Transport Requestor
    - Wi-Fi Network Diagnostics
    - Wi-Fi Network Management
    - Zone Management
    # keep-sorted end

# We need a more configurable way of deciding which clusters have which init functions....
# See https://github.com/project-chip/connectedhomeip/issues/4369
ClustersWithInitFunctions:
    # keep-sorted start
    - Color Control
    - Groups
    - Level Control
    - Mode Select
    - On/Off
    - Pump Configuration and Control
    - Sample MEI
    - Scenes Management
    - Thermostat
    # keep-sorted end

ClustersWithAttributeChangedFunctions:
    # keep-sorted start
    - Bridged Device Basic Information
    - Door Lock
    - Fan Control
    - Pump Configuration and Control
    - Thermostat
    - Window Covering
    # keep-sorted end

ClustersWithShutdownFunctions:
    # keep-sorted start
    - Barrier Control
    - Color Control
    - Door Lock
    - Level Control
    - On/Off
    - Sample MEI
    - Scenes Management
    - Thermostat
    # keep-sorted end

ClustersWithPreAttributeChangeFunctions:
    # keep-sorted start
    - Door Lock
    - Energy Preference
    - Fan Control
    - Laundry Dryer Controls
    - Laundry Washer Controls
    - Mode Select
    - Pump Configuration and Control
    - Thermostat
    - Thermostat User Interface Configuration
    # keep-sorted end

# Code Driven clusters are clusters that implement the ServerClusterInterface.
# The clusters in this list require Init() and/or Shutdown() callbacks, defined
# in the cluster's respective CodgenIntegration.cpp file.
CodeDrivenClusters:
    # keep-sorted start
    - Access Control
    - Activated Carbon Filter Monitoring
    - Administrator Commissioning
    - Basic Information
    - Binding
    - Boolean State
    - Boolean State Configuration
    - Descriptor
    - Device Energy Management
    - Diagnostic Logs
    - Electrical Power Measurement
    - Ethernet Network Diagnostics
    - Fixed Label
    - General Commissioning
    - General Diagnostics
    - Group Key Management
    - Groupcast
    - HEPA Filter Monitoring
    - ICD Management
    - Identify
    - Localization Configuration
    - OTA Software Update Provider
    - Occupancy Sensing
    - Operational Credentials
    - Power Topology
    - Push AV Stream Transport
    - Software Diagnostics
    - Time Format Localization
    - Time Synchronization
    - User Label
    - Wi-Fi Network Diagnostics
    # keep-sorted end
