#include "Base.xcconfig"
#include "../Shared/Release.xcconfig"

CLANG_ENABLE_MODULES = YES
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM =

HEADER_SEARCH_PATHS[arch=*] = $(PROJECT_DIR)/../../../src

INFOPLIST_FILE = CHIPTests/Info.plist

LD_RUNPATH_SEARCH_PATHS = \
  $(inherited) \
  @executable_path/Frameworks \
  @loader_path/Frameworks

PRODUCT_BUNDLE_IDENTIFIER = com.chip.CHIPTests
PRODUCT_NAME = $(TARGET_NAME)

SWIFT_OBJC_BRIDGING_HEADER = CHIPTests/MatterTests-Bridging-Header.h

TARGETED_DEVICE_FAMILY = 1,2,3,4
