pip-tools
virtualenv

# esp-idf
-r requirements.esp32.txt ; platform_machine != 'aarch64'

# mbed-os
-r requirements.mbed.txt ; platform_machine != 'aarch64'

# cirque tests
requests>=2.24.0

# device controller wheel package
wheel
dbus-python; sys_platform == 'linux'
pgi; sys_platform == 'linux'
pyobjc-core; sys_platform == 'darwin'
pyobjc-framework-cocoa; sys_platform == 'darwin'
pyobjc-framework-corebluetooth; sys_platform == 'darwin'

# mobly tests
portpicker
mobly

# zephyr
west>=0.11.0
intelhex

# happy tests
lockfile
psutil >= 5.7.3

# pigweed
ipython
appnope
appdirs
coloredlogs
watchdog
protobuf

# scripts/tools/memory
anytree
cxxfilt
pandas ; platform_machine != 'aarch64'
