pip-tools
virtualenv

# esp-idf
setuptools>=21
click>=5.0
pyserial>=3.0
future>=0.15.2
cryptography>=2.1.4
pyparsing>=2.0.3,<2.4.0
pyelftools>=0.22
gdbgui==0.13.2.0
pygdbmi<=0.9.0.2
reedsolo>=1.5.3,<=1.5.4
bitstring>=3.1.6
ecdsa>=0.16.0

# cirque tests
requests>=2.24.0

# device controller wheel package
wheel
dbus-python; sys_platform == 'linux'
pgi; sys_platform == 'linux'
pyobjc-core; sys_platform == 'darwin'
pyobjc-framework-cocoa; sys_platform == 'darwin'
pyobjc-framework-corebluetooth; sys_platform == 'darwin'

# mobly tests
portpicker
mobly

# zephyr
west>=0.10.1
intelhex

# happy tests
lockfile
psutil >= 5.7.3

# pigweed
ipython
appnope
appdirs
coloredlogs
watchdog
protobuf
