import java.util.LinkedHashMap;
import java.util.Map;

public class ClusterWriteMapping {
  public Map<String, Map<String, InteractionInfo>> getWriteAttributeMap() {
    Map<String, Map<String, InteractionInfo>> writeAttributeMap = new HashMap<>();

    {%- for cluster in clientClusters | sort(attribute='code') %}
    Map<String, InteractionInfo> write{{cluster.name}}InteractionInfo = new LinkedHashMap<>();

      {%- for attribute in cluster.attributes | sort(attribute='name') %}
        {#- TODO: add support for struct-typed attributes -#}
        {% if not attribute.definition.is_list and attribute.is_writable %}
    Map<String, CommandParameterInfo> write{{cluster.name}}{{attribute.definition.name}}CommandParams = new LinkedHashMap<String, CommandParameterInfo>();
    CommandParameterInfo {{cluster.name | lowercamelcase}}{{attribute.definition.name | lowercamelcase}}CommandParameterInfo =
        new CommandParameterInfo(
            "value", 
            FIXME, {# {{asJavaType type null parent.parent.name removeGenericType=true}}.class, #}
            FIXME {# {{asJavaType type null parent.parent.name underlyingType=true}}.class #}
        );
    write{{cluster.name}}{{attribute.definition.name}}CommandParams.put(
        "value",
        {{cluster.name | lowercamelcase}}{{attribute.definition.name | lowercamelcase}}CommandParameterInfo
    );
    InteractionInfo write{{cluster.name}}{{attribute.definition.name}}AttributeInteractionInfo = new InteractionInfo(
      (cluster, callback, commandArguments) -> {
        ((ChipClusters.{{cluster.name}}Cluster) cluster).write{{cluster.name}}Attribute(
          (DefaultClusterCallback) callback,
          FIXME, {# ({{asJavaBoxedType type chipType}}) #}
          commandArguments.get("value")
          {%- if attribute.requires_timed_write -%}, 1000 {% endif %}
        );
      },
      () -> new ClusterInfoMapping.DelegatedDefaultClusterCallback(),
      write{{cluster.name}}{{attribute.definition.name}}CommandParams
    );
    write{{cluster.name}}InteractionInfo.put("write{{attribute.definition.name}}Attribute", write{{cluster.name}}{{attribute.definition.name}}AttributeInteractionInfo);
        {% endif %}
      {% endfor %}

    writeAttributeMap.put("{{cluster.name | lowercamelcase}}", write{{cluster.name}}InteractionInfo);
    {%  endfor %}

    return writeAttributeMap;
  }
}
