PRODUCT_BUNDLE_IDENTIFIER = com.csa.matter
TARGETED_DEVICE_FAMILY = 1,2,3,4
INFOPLIST_FILE = CHIP/Info.plist
MACOSX_DEPLOYMENT_TARGET = 15.0
IPHONEOS_DEPLOYMENT_TARGET = 18.0;

HEADER_SEARCH_PATHS[arch=*] = \
  $(inherited) \
  $(PROJECT_DIR)/zap-generated \
  $(PROJECT_DIR)/../../../src \
  $(CHIP_ROOT)/examples/darwin-framework-tool \
  $(CHIP_ROOT)/src \
  $(CHIP_ROOT)/third_party/nlassert/repo/include \
  $(CHIP_ROOT)/zzz_generated/app-common \
  $(CHIP_ROOT)/third_party/nlio/repo/include \
  $(CHIP_ROOT)/third_party/jsoncpp/repo/include \
  $(CHIP_ROOT)/zzz_generated/darwin-framework-tool \
  $(CHIP_ROOT)/third_party/editline/repo/include \
  $(CHIP_ROOT)/src/include \
  $(CONFIGURATION_TEMP_DIR)/Matter.build/out/gen/include \
  $(CHIP_ROOT)/third_party/inipp/repo/inipp \
  $(CHIP_ROOT)/third_party/editline/include \
  $(CHIP_ROOT)/third_party/libwebsockets/ \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/include \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/core \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/core-net \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/plat/unix \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/secure-streams \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/event-libs \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/system/metrics \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/http \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/h1 \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/ws \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/system/async-dns \
  $(CHIP_ROOT)/examples/chip-tool \
  $(CHIP_ROOT)/examples/chip-tool/commands/clusters \
  $(CHIP_ROOT)/examples/common \
  $(CHIP_ROOT)/zzz_generated/chip-tool
