#include "../Shared/Base.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.csa.matter
TARGETED_DEVICE_FAMILY = 1,2,3,4
INFOPLIST_FILE = CHIP/Info.plist
MACOSX_DEPLOYMENT_TARGET = 15.0
IPHONEOS_DEPLOYMENT_TARGET = 18.0;
MODULEMAP_FILE = CHIP/Matter.modulemap

DWARF_DSYM_FILE_SHOULD_ACCOMPANY_PRODUCT = YES

SUPPORTS_TEXT_BASED_API = YES

WARNING_CFLAGS = -Wformat -Wformat-nonliteral -Wformat-security

GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvos appletvsimulator watchos watchsimulator

ONLY_ACTIVE_ARCH = YES

GCC_C_LANGUAGE_STANDARD = gnu11
GCC_NO_COMMON_BLOCKS = YES

HEADER_SEARCH_PATHS[arch=*] = \
  $(inherited) \
  $(PROJECT_DIR)/zap-generated \
  $(PROJECT_DIR)/../../../src \
  $(CHIP_ROOT)/examples/darwin-framework-tool \
  $(CHIP_ROOT)/src \
  $(CHIP_ROOT)/third_party/nlassert/repo/include \
  $(CHIP_ROOT)/zzz_generated/app-common \
  $(CHIP_ROOT)/third_party/nlio/repo/include \
  $(CHIP_ROOT)/third_party/jsoncpp/repo/include \
  $(CHIP_ROOT)/zzz_generated/darwin-framework-tool \
  $(CHIP_ROOT)/third_party/editline/repo/include \
  $(CHIP_ROOT)/src/include \
  $(CONFIGURATION_TEMP_DIR)/Matter.build/out/gen/include \
  $(CHIP_ROOT)/third_party/inipp/repo/inipp \
  $(CHIP_ROOT)/third_party/editline/include \
  $(CHIP_ROOT)/third_party/libwebsockets/ \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/include \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/core \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/core-net \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/plat/unix \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/secure-streams \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/event-libs \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/system/metrics \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/http \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/h1 \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/roles/ws \
  $(CHIP_ROOT)/third_party/libwebsockets/repo/lib/system/async-dns \
  $(CHIP_ROOT)/examples/chip-tool \
  $(CHIP_ROOT)/examples/chip-tool/commands/clusters \
  $(CHIP_ROOT)/examples/common \
  $(CHIP_ROOT)/zzz_generated/chip-tool

OTHER_LDFLAGS = \
  -framework CoreData \
  -framework Foundation \
  -framework CoreBluetooth \
  -lnetwork \
  -Wl,-unexported_symbol,"__Z*" \
  -Wl,-unexported_symbol,"___*" \
  -Wl,-unexported_symbol,"__Unwind_*" \
  -Wl,-unexported_symbol,"_unw_*" \
  -Wl,-hidden-lCHIP

OTHER_LDFLAGS[sdk=macosx*] = \
  -framework IOKit \
  -framework CoreWLAN \
  -framework SystemConfiguration \
  -lnetwork \
  -framework CoreBluetooth \
  -framework CoreData \
  -framework Foundation \
  -Wl,-unexported_symbol,"__Z*" \
  -Wl,-unexported_symbol,"___*" \
  -Wl,-unexported_symbol,"__Unwind_*" \
  -Wl,-unexported_symbol,"_unw_*" \
  -Wl,-hidden-lCHIP
