#include "../Shared/Debug.xcconfig"
#include "Base.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO

ENABLE_STRICT_OBJC_MSGSEND = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) DEBUG=1 MTR_NO_AVAILABILITY=1 MTR_ENABLE_PROVISIONAL=1 MTR_ENABLE_UNSTABLE_API=1 CHIP_HAVE_CONFIG_H CHIP_CONFIG_SKIP_APP_SPECIFIC_GENERATED_HEADER_INCLUDES=1

OTHER_TAPI_FLAGS = -x objective-c++ -std=gnu++17 -fvisibility=hidden -fobjc-arc

SDKROOT = iphoneos

SWIFT_INSTALL_OBJC_HEADER = NO
SWIFT_OPTIMIZATION_LEVEL = -Onone

TAPI_ENABLE_PROJECT_HEADERS = YES

CODE_SIGN_STYLE = Automatic
DEFINES_MODULE = YES
DEVELOPMENT_TEAM =

DYLIB_COMPATIBILITY_VERSION = 1
DYLIB_CURRENT_VERSION = 1
DYLIB_INSTALL_NAME_BASE = @rpath

INSTALLHDRS_SCRIPT_PHASE = YES
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

LIBRARY_SEARCH_PATHS = $(TEMP_DIR)/out/lib

OTHER_CFLAGS = -fmacro-prefix-map=$(SRCROOT)/CHIP/=
OTHER_CPLUSPLUSFLAGS = $(OTHER_CFLAGS) -fno-c++-static-destructors -DCHIP_CONFIG_GLOBALS_NO_DESTRUCT=1
