#include "Base.xcconfig"
#include "../Shared/Release.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO

ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) MTR_NO_AVAILABILITY=1 MTR_ENABLE_PROVISIONAL=1 MTR_ENABLE_UNSTABLE_API=1

OTHER_TAPI_FLAGS = -x objective-c++ -std=gnu++17 -fvisibility=hidden -fobjc-arc

SDKROOT = iphoneos

SWIFT_INSTALL_OBJC_HEADER = NO
