# Copyright (c) 2021 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Memory tools default configuation for Nordic nRF Connect.

{
    'section': {
        # By default, only these sections will be included
        # when operating by sections.
        'default': ['text', 'rodata', 'bss']
    },
    'symbol': {
        'free': {
            # These symbols mark the start or end of areas where memory that
            # does not belong to any symbol is considered unused (rather than
            # a gap that may be in use for some non-symbol purpose, e.g. string
            # constants or alignment).
            'start': ['__kernel_ram_start'],
            'end': ['_image_rom_end'],
        }
    },
    'region': {
        # Regions are sets of sections that can be used for aggregate reports.
        'sections': {
            'FLASH': [
                "text",
                "rodata",
                "ctors",
                ".ARM.exidx",
                "bt_gatt_service_static_area",
                "bt_l2cap_fixed_chan_area",
                "init_array",
                "initlevel",
                "log_const_sections",
                "rom_start",
                "settings_handler_static_area",
                "shell_area",
                "shell_root_cmds_sections",
            ],
            'RAM': [
                "bss",
                "datas",
                "devices",
                "k_heap_area",
                "k_mem_slab_area",
                "k_msgq_area",
                "k_mutex_area",
                "k_queue_area",
                "k_sem_area",
                "k_timer_area",
                "_net_buf_pool_area",
                "net_if_area",
                "net_if_dev_area",
                "net_l2_area",
                "noinit",
                "sw_isr_table",
            ]
        }
    },
}
