#
# SPDX-FileCopyrightText: 2022 Project CHIP Authors
#
# SPDX-License-Identifier: Apache-2.0
#

# The purpose of this file is to create a wrapper Kconfig file that will be set as
# hci_rpmsg_KCONFIG_ROOT and processed before any other Kconfig for hci_rpmsg child image.

rsource "Kconfig.hci_rpmsg.defaults"
source "Kconfig.zephyr"
