CONFIG_IDF_TARGET="esp32p4"

# Flash size and partition
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Enable BLE Host but use remote controller
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_TRANSPORT_UART=n
CONFIG_ESP_ENABLE_BT=y

# Increase main task stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096

# Disable Wi-Fi Soft AP
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# LwIP
CONFIG_LWIP_IPV6_AUTOCONFIG=y
CONFIG_LWIP_IPV6_NUM_ADDRESSES=6

# mbedtls
CONFIG_MBEDTLS_HKDF_C=y

# Matter shell
CONFIG_ENABLE_CHIP_SHELL=y

# OTA requestor
CONFIG_ENABLE_OTA_REQUESTOR=y

# Do not deinit BLE after commissioning
CONFIG_USE_BLE_ONLY_FOR_COMMISSIONING=n

# ESP32-P4 Function EV Board use ESP32C6 as slave device
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
