#
# SPDX-FileCopyrightText: 2020 Project CHIP Authors
# SPDX-FileCopyrightText: 2018 Nest Labs, Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
#    Description:
#      Some useful defaults for the demo app configuration.
#


# Default to 921600 baud when flashing and monitoring device
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESPTOOLPY_COMPRESSED=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_CHIP_TASK_STACK_SIZE=32768
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768

#enable BT
CONFIG_BT_ENABLED=y

#enable HKDF in mbedtls
CONFIG_MBEDTLS_HKDF_C=y

# Build chip tests
CONFIG_BUILD_CHIP_TESTS=y
