# Copyright (c) 2021 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build example - Infineon

on:
    push:
        branches:
            - master
            - 'v*-branch'
    pull_request:
    merge_group:
    workflow_dispatch:

concurrency:
    group: ${{ github.ref }}-${{ github.workflow }}-${{ (github.event_name == 'pull_request' && github.event.number) || (github.event_name == 'workflow_dispatch' && github.run_number) || github.sha }}
    cancel-in-progress: true

env:
    CHIP_NO_LOG_TIMESTAMPS: true

jobs:
    infineon:
        name: Infineon examples building

        runs-on: ubuntu-latest
        if: github.actor != 'restyled-io[bot]'

        container:
            image: ghcr.io/project-chip/chip-build-infineon:162
            env:
               # TODO: this should probably be part of the dockerfile itself
               CY_TOOLS_PATHS: /opt/Tools/ModusToolbox/tools_3.2
            volumes:
                - "/tmp/bloat_reports:/tmp/bloat_reports"
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Checkout submodules & Bootstrap
              uses: ./.github/actions/checkout-submodules-and-bootstrap
              with:
                platform: infineon

            - name: Set up environment for size reports
              uses: ./.github/actions/setup-size-reports
              if: ${{ !env.ACT }}
              with:
                gh-context: ${{ toJson(github) }}

            - name: Build PSoC6 lock-app example
              run: |
                  scripts/run_in_build_env.sh \
                    "scripts/build/build_examples.py \
                        --enable-flashbundle \
                        --target infineon-psoc6-lock \
                        build \
                        --copy-artifacts-to out/artifacts \
                    "
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                      psoc6 cy8ckit_062s2_43012 lock \
                      out/artifacts/infineon-psoc6-lock/chip-psoc6-lock-example.out \
                      /tmp/bloat_reports/
            - name: Build PSoC6 all-clusters-app example
              run: |
                  scripts/run_in_build_env.sh \
                    "scripts/build/build_examples.py \
                        --enable-flashbundle \
                        --target infineon-psoc6-all-clusters \
                        build \
                        --copy-artifacts-to out/artifacts \
                    "
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                      psoc6 cy8ckit_062s2_43012 all-clusters \
                      out/artifacts/infineon-psoc6-all-clusters/chip-psoc6-clusters-example.out \
                      /tmp/bloat_reports/
            - name: Build PSoC6 all-clusters-minimal-app example
              run: |
                  scripts/run_in_build_env.sh \
                    "scripts/build/build_examples.py \
                        --enable-flashbundle \
                        --target infineon-psoc6-all-clusters-minimal \
                        build \
                        --copy-artifacts-to out/artifacts \
                    "
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                      psoc6 cy8ckit_062s2_43012 all-clusters-minimal \
                      out/artifacts/infineon-psoc6-all-clusters-minimal/chip-psoc6-clusters-minimal-example.out \
                      /tmp/bloat_reports/
            - name: Build PSoC6 lighting-app example
              run: |
                  scripts/run_in_build_env.sh \
                    "scripts/build/build_examples.py \
                        --enable-flashbundle \
                        --target infineon-psoc6-light \
                        build \
                        --copy-artifacts-to out/artifacts \
                    "
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                      psoc6 cy8ckit_062s2_43012 light \
                      out/artifacts/infineon-psoc6-light/chip-psoc6-lighting-example.out \
                      /tmp/bloat_reports/

            - name: Build CYW30739 Lighting App
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  ./scripts/run_in_build_env.sh \
                    "./scripts/build/build_examples.py \
                      --target cyw30739-cyw30739b2_p5_evk_01-light \
                      --target cyw30739-cyw30739b2_p5_evk_02-light \
                      --target cyw30739-cyw30739b2_p5_evk_03-light \
                      --target cyw30739-cyw930739m2evb_02-light \
                      build \
                      --copy-artifacts-to out/artifacts \
                    "
            - name: Get light size stats
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-01 light \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_01-light/lighting_app-CYW30739B2-P5-EVK-01.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-02 light \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_02-light/lighting_app-CYW30739B2-P5-EVK-02.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-03 light \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_03-light/lighting_app-CYW30739B2-P5-EVK-03.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW930739M2EVB-02 light \
                    out/artifacts/cyw30739-cyw930739m2evb_02-light/lighting_app-CYW930739M2EVB-02.elf \
                    /tmp/bloat_reports/
            - name: Clean out build output
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: rm -rf ./out
            - name: Build CYW30739 Light Switch App
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  ./scripts/run_in_build_env.sh \
                    "./scripts/build/build_examples.py \
                      --target cyw30739-cyw30739b2_p5_evk_01-light-switch \
                      --target cyw30739-cyw30739b2_p5_evk_02-light-switch \
                      --target cyw30739-cyw30739b2_p5_evk_03-light-switch \
                      build \
                      --copy-artifacts-to out/artifacts \
                    "
            - name: Get light-switch size stats
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-01 light-switch \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_01-light-switch/light_switch_app-CYW30739B2-P5-EVK-01.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-02 light-switch \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_02-light-switch/light_switch_app-CYW30739B2-P5-EVK-02.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-03 light-switch \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_03-light-switch/light_switch_app-CYW30739B2-P5-EVK-03.elf \
                    /tmp/bloat_reports/
            - name: Clean out build output
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: rm -rf ./out
            - name: Build CYW30739 Lock App
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  ./scripts/run_in_build_env.sh \
                    "./scripts/build/build_examples.py \
                      --target cyw30739-cyw30739b2_p5_evk_01-lock \
                      --target cyw30739-cyw30739b2_p5_evk_02-lock \
                      --target cyw30739-cyw30739b2_p5_evk_03-lock \
                      build \
                      --copy-artifacts-to out/artifacts \
                    "
            - name: Get lock size stats
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-01 lock \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_01-lock/lock_app-CYW30739B2-P5-EVK-01.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-02 lock \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_02-lock/lock_app-CYW30739B2-P5-EVK-02.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-03 lock \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_03-lock/lock_app-CYW30739B2-P5-EVK-03.elf \
                    /tmp/bloat_reports/
            - name: Clean out build output
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: rm -rf ./out
            - name: Build CYW30739 Thermostat App
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  ./scripts/run_in_build_env.sh \
                    "./scripts/build/build_examples.py \
                      --target cyw30739-cyw30739b2_p5_evk_01-thermostat \
                      --target cyw30739-cyw30739b2_p5_evk_02-thermostat \
                      --target cyw30739-cyw30739b2_p5_evk_03-thermostat \
                      build \
                      --copy-artifacts-to out/artifacts \
                    "
            - name: Get thermostat size stats
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: |
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-01 thermostat \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_01-thermostat/thermostat-CYW30739B2-P5-EVK-01.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-02 thermostat \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_02-thermostat/thermostat-CYW30739B2-P5-EVK-02.elf \
                    /tmp/bloat_reports/
                  .environment/pigweed-venv/bin/python3 scripts/tools/memory/gh_sizes.py \
                    cyw30739 CYW30739B2-P5-EVK-03 thermostat \
                    out/artifacts/cyw30739-cyw30739b2_p5_evk_03-thermostat/thermostat-CYW30739B2-P5-EVK-03.elf \
                    /tmp/bloat_reports/
            - name: Clean out build output
              # CYW30739 builds disabled: https://github.com/project-chip/connectedhomeip/issues/39964
              if: false
              run: rm -rf ./out
            - name: Uploading Size Reports
              uses: ./.github/actions/upload-size-reports
              if: ${{ !env.ACT }}
              with:
                platform-name: Infineon
