name: "Validate Gradle Wrapper"
on:
    push:
        branches:
            - master
            - 'v*-branch'
    pull_request:

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Wandalen/wretry.action@v3.8.0
        name: Gradle Validation
        continue-on-error: true
        with:
          action: gradle/wrapper-validation-action@v1
          attempt_limit: 3
          attempt_delay: 2000
