name: Shellcheck

on: [pull_request]

jobs:
  shellcheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: shellcheck
        run: integrations/docker/images/chip-build/run.sh integrations/shellcheck_tree.sh
