# Copyright (c) 2020-2021 Project CHIP Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Debug Darwin YAML tests failure

on:
    push:
    workflow_dispatch:

env:
    CHIP_NO_LOG_TIMESTAMPS: true

jobs:
    test_suites_darwin:
        name: Test Suites - Darwin

        strategy:
            matrix:
                include:
                    - os: macos-14
                      arch: arm64     # observed, not configured
                      build_variant: no-ble-no-shell-asan-clang
        env:
            BUILD_VARIANT: ${{matrix.build_variant}}
            CHIP_TOOL_VARIANT: ${{matrix.chip_tool}}
            TSAN_OPTIONS: "halt_on_error=1"
            LSAN_OPTIONS: detect_leaks=1 suppressions=scripts/tests/chiptest/lsan-mac-suppressions.txt

        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Setup Environment
              # coreutils for stdbuf
              run: brew install coreutils
            - name: Try to ensure the directories for core dumping and diagnostic
                  log collection exist and we can write them.
              run: |
                  sudo chown ${USER} /cores || true
                  mkdir -p ~/Library/Logs/DiagnosticReports || true
                  mkdir objdir-clone || true
            - name: Checkout submodules & Bootstrap
              uses: ./.github/actions/checkout-submodules-and-bootstrap
              with:
                  platform: darwin
                  bootstrap-log-name: bootstrap-logs-darwin-${{ matrix.build_variant }}${{ matrix.chip_tool }}

            # - name: Build Apps
            #   run: |
            #       ./scripts/run_in_build_env.sh \
            #          "./scripts/build/build_examples.py \
            #             --target darwin-${{matrix.arch}}-chip-tool${CHIP_TOOL_VARIANT}-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-all-clusters-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-lock-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-ota-provider-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-ota-requestor-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-tv-app-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-bridge-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-lit-icd-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-microwave-oven-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-rvc-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-network-manager-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-energy-gateway-${BUILD_VARIANT} \
            #             --target darwin-${{matrix.arch}}-energy-management-${BUILD_VARIANT} \
            #             build \
            #             --copy-artifacts-to objdir-clone \
            #          "

            - name: Build Apps
              run: |
                  ./scripts/run_in_build_env.sh \
                     "./scripts/build/build_examples.py \
                        --target darwin-${{matrix.arch}}-chip-tool${CHIP_TOOL_VARIANT}-${BUILD_VARIANT} \
                        --target darwin-${{matrix.arch}}-all-clusters-${BUILD_VARIANT} \
                        --target darwin-${{matrix.arch}}-lock-${BUILD_VARIANT} \
                        build \
                        --copy-artifacts-to objdir-clone \
                     "

            - name: Run Tests using the python parser sending commands to chip-tool
              # tests that failed macOS 15/26 last check: TestGroupMessaging,Test_TC_ACE_1_6,Test_TC_G_*,Test_TC_GRPKEY_*,Test_TC_S_*
              run: |
                  ./scripts/run_in_build_env.sh \
                  "./scripts/tests/run_test_suite.py \
                     --target TestSystemCommands \
                     --runner chip_tool_python \
                     --chip-tool ./out/darwin-${{matrix.arch}}-chip-tool${CHIP_TOOL_VARIANT}-${BUILD_VARIANT}/chip-tool \
                     --target-skip-glob '{Test_TC_DGTHREAD_2_1,Test_TC_DGTHREAD_2_2,Test_TC_DGTHREAD_2_3,Test_TC_DGTHREAD_2_4}' \
                     run \
                     --iterations 1 \
                     --test-timeout-seconds 120 \
                     --all-clusters-app ./out/darwin-${{matrix.arch}}-all-clusters-${BUILD_VARIANT}/chip-all-clusters-app \
                     --lock-app ./out/darwin-${{matrix.arch}}-lock-${BUILD_VARIANT}/chip-lock-app \
                  "